<h1>Add Booking</h1>
<form class="ui raised segment form" action="/bookings/addMemberBooking" method="POST">
    <p>Bookings with Trainers can be made every hour from 9:00am until 17:00pm</p>
    <div class="three fields">
        <div class="field">
            <label>Booking Date</label>
            <input placeholder="Date" type="date" name="date" required>
        </div>
        <div class="field">
            <label>Time</label>
            <input placeholder="Time" type="time" name="time" step="3600" min="09:00" max="17:00" required>
        </div>
        <div class="field">
            <label>Trainer</label>
            <select class="ui dropdown" name="trainer" required>
                <option selected disabled></option>
                {{#each trainer}}
                    <option value={{id}}> {{firstName}} {{lastName}} </option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="entry">
        {{#if conflict}}
            <p><i class="large yellow warning sign icon"></i>Sorry, the trainer is unavailable at that time.</p>
        {{/if}}
    </div>
    <script>
        const today = new Date().toISOString().split('T')[0];
        document.getElementsByName("date")[0].setAttribute('min', today);
    </script>
    <button class="ui blue submit button">Add Booking</button>
</form>