<h1>Update Booking</h1>
<form class="ui raised segment form error" action="/bookings/{{trainerId}}/memberEditBooking/{{bookingToUpdate.bookingId}}" method="POST">
    <p>Bookings with Members can be made every hour from 9:00am until 17:00pm</p>
    <div class="two fields">
        <div class="field">
            <label>Booking Date</label>
            <input placeholder="Date" type="date" name="date" required>
        </div>
        <div class="field">
            <label>Time</label>
            <input placeholder="Time" type="time" name="time" step="3600" min="09:00" max="17:00" required>
        </div>
    </div>
    <div class="entry">
        {{#if conflict}}
            <div class="ui error message">
                <p><i class="large yellow warning sign icon"></i>Booking is unavailable at that time.</p>
            </div>
        {{/if}}
    </div>
    <br>
    <script>
        const today = new Date().toISOString().split('T')[0];
        document.getElementsByName("date")[0].setAttribute('min', today);
    </script>
    <button class="ui blue submit button">Update Booking</button>
</form>