{{> welcomeMenu }}

<section class="ui two column center aligned middle aligned grid segment">
    <div class="ui column">
        <h1 class="ui header">
            BMI Tracker
        </h1>
        <p>
            Fill in your assessments week by week and track your BMI.
            Trainer will comment on your assessments and guide the way!!

        <ul>*New Features*</ul>
        <li>Join fun exercise classes!</li>
        <li>Make a booking for an assessment with a Trainer fo your choice!</li>
        <li>Set goals to keep you motivated!</li>
        </p>
    </div>
    <div class="ui column">
        <img class="ui large image" src="http://res.cloudinary.com/coady91/image/upload/v1504785953/fitness-icons_cftjfl.jpg">
    </div>
</section>